.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1000; /* keeps it above other elements */
}




.job-card {
  margin: 10px; /* gap */
  background: #fffdfd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease-in-out;
}

.job-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(255, 4, 4, 0.514); /* stronger on hover */
}


.btn-explore1 {
  margin: 30px 30px;
  padding: 12px 25px;
  font-size: 1.1rem;
  font-weight: bolder;
  border-radius: 8px;
  background-color: #1090da; /* Red */
  color: white;
  transition: 0.3s;
}

.btn-explore1:hover {
  background-color: rgb(255, 251, 0); 
  color: rgb(7, 7, 7);
}
