.scroll{
   width: 100%;
   overflow-x: hidden;
   scroll-behavior: smooth;
}

.scroll::-webkit-scrollbar {
  width: 5px; 
}

.scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
