

nav .nav-link {
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

nav .nav-link:hover {
  color: #e61212; 
}
/* 
.collapseProfile{
  position: fixed;
  right: 10px;
  top: 15%;
  background-color: rgb(29, 29, 29);
  padding: 20px;
  border-radius: 10px;

} */


.profile-card-nav{
  width:100%;
}

@media (min-width:768px) {

  .profile-card-nav{
    width:350px;
  }
  
}